// COLORS
$primary-color: #D64933;
$secondary-color: #DB5461;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;

$dark-grey: #333333;

// Palettes 1
$middle-blue: #92DCE5;
$black-color: #000000;
$white-color: #FFFFFF;
$gray-web: #7c7c7c;
$cinnabar: #D64933;

// Palettes 2


$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
